<script type="text/javascript">
 
$(document).ready(function(){	
	if (window.location.hash == '#thankyou') {
		$("#optin-form").hide();
		$("#thank-you").show();
	} else {
		$("#optin-form").show();
		$("#thank-you").hide();
	}
 
});
 
</script>

<%= image_tag "rails.png", :class=>"bg" %>

<div id="page-wrap">
	<div id="teaser">
		<h1>The World's Most <strong>Advanced</strong> Bowling Tracker</h1>
		<p>Use Bowling Stats to help you improve your game.<span class="soon">LAUNCHING SOON</span></p>
	</div>
	<!-- Begin MailChimp Signup Form -->
	<div id="optin">
		<div id="optin-form">
			<h2><strong>Interested?</strong> Get Notified of Updates</h2>
			<form action="http://agiledeveloper.us2.list-manage.com/subscribe/post?u=a95d3d3a68abb66f5fba34e7b&amp;id=012ac32e87" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>

			<input type="email" value="you@email.com" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"> <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary">

			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>	
			</form>
		</div>

		<div id="thank-you">
			<h2>Thank you for signing up</h2>
			<p>We'll be emailing you to confirm your subscription.</p>
		</div>

	</div>
</div>
<!--End mc_embed_signup-->