<% provide(:title, @user.name) %>

<section id="aaron-gustafson" class="vcard">   
	<figure>     
		<img class="photo" src="i/aaron-gustafson.jpg" alt=""/> 
		<%= profile_image_for @user %>  
	</figure>   
	<h1 class="fn"><%= @user.name %></h1>   <p>Aaron has been working on the web for nearly 15 years and, in that time, has cultivated a love of web s</p>
</section>