<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <%= render 'layouts/nav_logged_in' %>
          <% else %>
            <%= render 'layouts/nav_anon' %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>